
@{
    ViewData["Title"] = "Search";
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
           
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="event-name">
                        Search
                    </label>
                </h1>
                <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Search
            </button>

            <table class="govuk-table table-responsive-xl">
                <caption class="sr-only">List of search results</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Driver number</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                        <th scope="col" class="govuk-table__header">Detail</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" colspan="4">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>