
@{
    ViewData["Title"] = "Settings";
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Settings</h1>


            <table class="govuk-table">
                <caption class="sr-only">List of admin lookups to change</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Description</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Manage countries list</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="">Manage</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Manage fees</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="">Manage</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Manage users</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="">Manage</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Total estimated pay</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="">Manage</a></td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</main>