
@{
    ViewData["Title"] = "Jobs";
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Jobs</h1>
            <table class="govuk-table table-responsive-xl">
                <caption class="sr-only">List of admin lookups to change</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Date</th>
                        <th scope="col" class="govuk-table__header">Smart</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                        <th scope="col" class="govuk-table__header">Detail</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Retrieve online applications</td>
                        <td class="govuk-table__cell">1 April 2022</td>
                        <td class="govuk-table__cell">No</td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="">View</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Smart renewals</td>
                        <td class="govuk-table__cell">2 April 2022</td>
                        <td class="govuk-table__cell">Yes</td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Completed with errors</strong></td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="">View</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Import test passes</td>
                        <td class="govuk-table__cell">1 April 2022</td>
                        <td class="govuk-table__cell">No</td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Failed</strong></td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="">View</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Export organ donations</td>
                        <td class="govuk-table__cell">1 April 2022</td>
                        <td class="govuk-table__cell">No</td>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>