
@{
    ViewData["Title"] = "Index";
}

<main class="govuk-main-wrapper" id="main-content" role="main">

    <div class="govuk-grid-row">
        <h1 class="govuk-heading-l">Admin</h1>
        <div class="govuk-grid-column-one-quarter">



        </div>
        <div class="govuk-grid-column-one-quarter">

            <h2 class="govuk-heading-m">Manage</h2>

            <h2 class="govuk-heading-m">Manage lookups</h2>

        </div>
    </div>

</main>